<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Meta title:</strong>
    <%= post.meta_title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Meta description:</strong>
    <%= post.meta_description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Permalink:</strong>
    <%= post.permalink %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= post.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= post.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">No index:</strong>
    <%= post.no_index %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this post", edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
